<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
  <body>
    <% @num1 = params[:number1].to_i %>
    <% @num2 = params[:number2].to_i %>
    <% if params[:operation] == "add" %>
      <%= @num1 + @num2 %>
    <% elsif params[:operation] == "subtract" %>
      <%= @num1 - @num2 %>
    <% elsif params[:operation] == "multiply" %>
      <%= @num1 * @num2 %>
    <% elsif params[:operation] == "divide" %>
      <%= @num1.to_f / @num2.to_f %>
    <% else %>
      Your options are add, subtract, multiply, or divide. Make sure you use one of those options. 
    <% end %>
  </body>
</html>