<%# Write your code here! %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  
  <body>

    <h1> <%= "#{@word1} #{@word2} #{@word3} #{@word4} #{@word5}." %></h1>
  
  </body> 

</html> 

