<%# Write your code here! %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  
  <body>
    <% square_result = @num * @num %>
    <h1> <%= square_result.to_s %></h1>
  
  </body> 

</html> 

<%# Note %>